.leftcol{
	float:left;
	background-color:#0000002F;
	color:#000000;
	margin-top: 16px;
	margin-bottom: 16px;
	margin-left: 5%;
	margin-right:1%;
	width:20%;
	padding:12px;
	border: 4px solid orange;
	border-radius: 8px;
	}
	
.leftcol img{
	border-radius: 50%;
	}
	
.container {
	position: relative;
	width: 50%;
}

.image {
	display: block;
	width: 100%;
	height: auto;
}


	
.rightcol{
	float:left;
	background-color:#0000002F;
	color:#000000;
	width:60%;
	margin-top: 16px;
	margin-bottom: 16px;
	margin-right:5%;
	padding:12px;
	border: 4px solid orange;
	border-radius: 8px;
}